[Unit]
Description=Metrics Monitoring Service
After=network.target

[Service]
ExecStart=/opt/france-nuage-agent/venv/bin/python /opt/france-nuage-agent/france-nuage-agent.py
Restart=always
User=wessim
WorkingDirectory=/opt/france-nuage-agent

[Install]
WantedBy=multi-user.target
