export CARGO_INCREMENTAL="0"
export LLVM_PROFILE_FILE="cargo-test-%p-%m.profraw"
export PROXMOX_API_URL="https://pve-poc01-internal.france-nuage.fr"
export PROXMOX_AUTHORIZATION_HEADER="PVEAPIToken=root@pam!api=efd3dba0-1d19-4988-8f29-fe3ad6ba07cb"
export RUSTFLAGS="-Cinstrument-coverage"