.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  row-gap: var(--token-fncr5OCrhHFI);
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-Bml44OgekI9b);
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-zCDHJij4mKp8);
  width: 100%;
  font-size: var(--token-7xKkXWUJlfs8);
  line-height: var(--token-0Kpg2wzGk3wu);
  outline-style: none;
  color: var(--token-74Qsc5U_cwQo);
  background: #ffffff;
  min-width: 0;
  border-radius: var(--token-yByw3KgAJ_yl);
  padding: var(--token-yByw3KgAJ_yl) var(--token-nbISxqLGpGTD)
    var(--token-yByw3KgAJ_yl) var(--token-GWDIjBMG5yGU);
  border: 1px none #f9faff;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-nbISxqLGpGTD);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-nbISxqLGpGTD);
  color: var(--token-74Qsc5U_cwQo);
  flex-shrink: 0;
  border-radius: var(--token-yByw3KgAJ_yl);
  border: 1px none var(--token-7nCJEcCaJ2mS);
}
.svg {
  width: var(--token-ZKnSqz-AoN98);
  height: var(--token-ZKnSqz-AoN98);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__c7R7I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
