.background {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  background:
    radial-gradient(ellipse 40% 60% at 20% 20%, #1a4ce530 0%, #f9faff00 100%) 0%
      0% / 100% 100% repeat,
    radial-gradient(
        ellipse 31% 48% at 83% 82%,
        #1a4ce54a 0%,
        var(--token-Bml44OgekI9b) 100%
      )
      0% 0% / 100% 100% repeat;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.background > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 414px) {
  .background {
    padding: 36px;
  }
}
@media (max-width: 414px) {
  .background > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 44px);
    height: calc(100% + 44px);
  }
}
@media (max-width: 414px) {
  .background > :global(.__wab_flex-container) > *,
  .background > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .background > :global(.__wab_flex-container) > picture > img,
  .background
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 44px;
  }
}
.logoContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  min-width: 0;
  padding: var(--token--cbbMwIvXrqn) 0px 0px var(--token--cbbMwIvXrqn);
}
.consoleLogo___8DkI:global(.__wab_instance) {
  position: relative;
  align-self: auto;
}
.centerContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
