.logoName {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  position: relative;
}
.logoName > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.logoName > :global(.__wab_flex-container) > *,
.logoName > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoName > :global(.__wab_flex-container) > picture > img,
.logoName
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 54.26356506347656px;
  height: 28px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 100%;
  color: rgba(36, 46, 77, 1);
  position: relative;
}
.textlogoSingle {
  display: none;
}
