.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  justify-self: flex-start;
}
.freeBox__idNp {
  display: flex;
  flex-direction: column;
  width: auto;
  background: var(--token-jgohepLVeKvh);
  height: 100%;
  min-height: 0;
  padding: 16px;
  border-right: 1px solid var(--token-Ap852c3rWuaJ);
}
.freeBox__idNp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__idNp > :global(.__wab_flex-container) > *,
.freeBox__idNp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__idNp > :global(.__wab_flex-container) > picture > img,
.freeBox__idNp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__eryGf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__eryGf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eryGf > :global(.__wab_flex-container) > *,
.freeBox__eryGf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eryGf > :global(.__wab_flex-container) > picture > img,
.freeBox__eryGf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.recherche {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.recherche > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.recherche > :global(.__wab_flex-container) > *,
.recherche > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.recherche > :global(.__wab_flex-container) > picture > img,
.recherche
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textField:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___7W2Hx {
  color: #535353;
  display: none;
}
.svg__zpqF9 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-PKw3mKbzBr62);
  height: 1em;
}
.svg__fd1Xj {
  position: relative;
  height: 1em;
  display: none;
}
.freeBox__fk1Vd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fk1Vd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fk1Vd > :global(.__wab_flex-container) > *,
.freeBox__fk1Vd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fk1Vd > :global(.__wab_flex-container) > picture > img,
.freeBox__fk1Vd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___0ECqB {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  height: 1em;
}
.link__z95Q7 {
  color: var(--token-9DYAKh_l4jQS);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.divider {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token--E8shf6I6HG-);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.general {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.general > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.general > :global(.__wab_flex-container) > *,
.general > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.general > :global(.__wab_flex-container) > picture > img,
.general
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__z3XLo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.tableauDeBord:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6URSb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  height: 1em;
}
.freeBox___01Fke {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.equipes2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__j3Qoq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  height: 1em;
}
.freeBox__dwOfF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.plan:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7X8Xe {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  height: 1em;
}
.parametre:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wsiQy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  height: 1em;
}
.divider2 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token--E8shf6I6HG-);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.projet {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.projet > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.projet > :global(.__wab_flex-container) > *,
.projet > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.projet > :global(.__wab_flex-container) > picture > img,
.projet
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__aGplf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-B4qLOOGP-C40);
  color: var(--token-9DYAKh_l4jQS);
  min-width: 0;
}
.freeBox__jKyRd {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jKyRd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jKyRd > :global(.__wab_flex-container) > *,
.freeBox__jKyRd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jKyRd > :global(.__wab_flex-container) > picture > img,
.freeBox__jKyRd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uuk36 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  height: 1em;
}
.link___35TtG {
  color: var(--token-9DYAKh_l4jQS);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__lQhaN {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lQhaN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lQhaN > :global(.__wab_flex-container) > *,
.freeBox__lQhaN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lQhaN > :global(.__wab_flex-container) > picture > img,
.freeBox__lQhaN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__nNcbA {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  height: 1em;
}
.link__oYrVb {
  color: var(--token-9DYAKh_l4jQS);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__l5EJl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__l5EJl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__l5EJl > :global(.__wab_flex-container) > *,
.freeBox__l5EJl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l5EJl > :global(.__wab_flex-container) > picture > img,
.freeBox__l5EJl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__bf85V {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  height: 1em;
}
.link___998AI {
  color: var(--token-9DYAKh_l4jQS);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__pitv8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pitv8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__pitv8 > :global(.__wab_flex-container) > *,
.freeBox__pitv8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pitv8 > :global(.__wab_flex-container) > picture > img,
.freeBox__pitv8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rqh5L {
  object-fit: cover;
  max-width: 100%;
  color: #6b7280;
  height: 1em;
}
.link__s6Hfv {
  color: var(--token-9DYAKh_l4jQS);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.divider3 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token--E8shf6I6HG-);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.profil {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.profil > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.profil > :global(.__wab_flex-container) > *,
.profil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.profil > :global(.__wab_flex-container) > picture > img,
.profil
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__n30Jz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__n30Jz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__n30Jz > :global(.__wab_flex-container) > *,
.freeBox__n30Jz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n30Jz > :global(.__wab_flex-container) > picture > img,
.freeBox__n30Jz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__pc0LT {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  height: 1em;
}
.link___2570G {
  color: var(--token-9DYAKh_l4jQS);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__nwccv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nwccv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nwccv > :global(.__wab_flex-container) > *,
.freeBox__nwccv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nwccv > :global(.__wab_flex-container) > picture > img,
.freeBox__nwccv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__imKm {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  height: 1em;
}
.link___0W0QO {
  color: var(--token-9DYAKh_l4jQS);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
