.form2 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: var(--token-Bml44OgekI9b);
  position: relative;
  border-radius: 24px;
  padding: 48px;
  border: 1px solid var(--token-PKw3mKbzBr62);
}
.form2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - var(--token-MeMRQjxXd5fQ));
  height: calc(100% + var(--token-MeMRQjxXd5fQ));
}
.form2 > :global(.__wab_flex-container) > *,
.form2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.form2 > :global(.__wab_flex-container) > picture > img,
.form2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-MeMRQjxXd5fQ);
}
@media (max-width: 414px) {
  .form2 {
    width: 100%;
    min-width: 0;
    padding: 24px;
  }
}
@media (max-width: 414px) {
  .form2 > :global(.__wab_flex-container) {
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (max-width: 414px) {
  .form2 > :global(.__wab_flex-container) > *,
  .form2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .form2 > :global(.__wab_flex-container) > picture > img,
  .form2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
