.root:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  color: var(--token-74Qsc5U_cwQo);
  font-family: var(--token-xJyIxpbdm7M0);
  font-size: var(--token-bJUUcSmKw7_T);
  line-height: var(--token-0Kpg2wzGk3wu);
}
.freeBox {
  display: flex;
  flex-direction: row;
  padding: var(--token-Wg7N_OBtTq5_) var(--token-GWDIjBMG5yGU);
}
.slotTargetHeader {
  font-weight: 600;
  user-select: none;
}
