.drawer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
  min-height: 0;
  padding: var(--token-qFXr9pcppAoX);
}
@media (max-width: 1024px) {
  .drawer {
    transform: translateX(-88%) translateY(0px) translateZ(0px);
    width: auto;
    display: inline-flex;
    flex-direction: row;
    left: 0px;
    top: 0px;
    z-index: 1;
    position: sticky;
    align-self: flex-start;
  }
}
@media (max-width: 414px) {
  .drawer {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 1;
    align-self: flex-start;
    width: auto;
    flex-shrink: 0;
    flex-grow: 0;
    transform: translateX(-84%) translateY(0px) translateZ(0px);
    min-height: 0;
    padding: 0px;
  }
}
.drawerisOpen {
  display: inline-flex;
  flex-direction: row;
  transform: none;
  width: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  min-height: 0;
}
@media (max-width: 1024px) {
  .drawerisOpen {
    left: 0px;
    top: 0px;
    position: sticky;
  }
}
@media (max-width: 414px) {
  .drawerisOpen {
    left: 0px;
    top: 0px;
    position: sticky;
    transform: none;
  }
}
.freeBox__qA2N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.search:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text {
  color: #535353;
  display: none;
}
.svg__zpqF9 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
.svg__fd1Xj {
  position: relative;
  height: 1em;
  display: none;
}
.navigationDrawerNavDivider__pKcOb:global(.__wab_instance) {
  position: relative;
  margin-bottom: var(--token-MeMRQjxXd5fQ);
  margin-top: var(--token-MeMRQjxXd5fQ);
  flex-shrink: 0;
}
.dashboard:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6URSb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg___6URSb {
    min-width: var(--token-ZKnSqz-AoN98);
  }
}
.teams:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__j3Qoq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__j3Qoq {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.plan:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7X8Xe {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg___7X8Xe {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.settings:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wsiQy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__wsiQy {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.navigationDrawerNavDivider__kdgJ6:global(.__wab_instance) {
  position: relative;
  margin-bottom: var(--token-MeMRQjxXd5fQ);
  margin-top: var(--token-MeMRQjxXd5fQ);
  flex-shrink: 0;
}
.project:global(.__wab_instance) {
  position: relative;
}
.instances2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__aeTd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__aeTd {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.services2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__pGfe2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__pGfe2 {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.membres2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zzrJu {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__zzrJu {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.projectSettings:global(.__wab_instance) {
  width: 100%;
  position: relative;
  min-width: 0;
}
.svg__aupw {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__aupw {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.freeBox__n8Yax {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: var(--token-MeMRQjxXd5fQ);
  margin-bottom: var(--token-MeMRQjxXd5fQ);
  min-width: 0;
}
.navigationDrawerNavDivider___4E6YD:global(.__wab_instance) {
  flex-shrink: 0;
}
.profile:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zftOu {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__zftOu {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.faq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__m2Ofs {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__m2Ofs {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.freeBox__vJyR1 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  background: var(--token-AVjrb1VpMneH);
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 8px;
  border-top: 1px solid var(--token-Ap852c3rWuaJ);
  border-right: 1px solid var(--token-Ap852c3rWuaJ);
  border-bottom: 1px solid var(--token-Ap852c3rWuaJ);
}
@media (max-width: 1024px) {
  .freeBox__vJyR1 {
    align-self: auto;
    display: flex;
  }
}
@media (max-width: 414px) {
  .freeBox__vJyR1 {
    align-self: flex-start;
    display: flex;
  }
}
.freeBoxisOpen__vJyR1Vo8B3 {
  display: flex;
}
.svg__e0FkA {
  object-fit: cover;
  max-width: 100%;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
  height: 1em;
  flex-shrink: 0;
}
.svg__e0FkA * {
  transform-style: preserve-3d;
}
@media (max-width: 1024px) {
  .svg__e0FkA {
    transform: none;
  }
}
@media (max-width: 414px) {
  .svg__e0FkA {
    transform: none;
  }
}
.svgisOpen__e0FkAvo8B3 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}
.svgisOpen__e0FkAvo8B3 * {
  transform-style: preserve-3d;
}
@media (max-width: 414px) {
  .svgisOpen__e0FkAvo8B3 {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .svgisOpen__e0FkAvo8B3 * {
    transform-style: preserve-3d;
  }
}
