.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  justify-self: flex-start;
}
.consoleProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__cJl75 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 24px 0px 0px;
  border-bottom: 1px solid var(--token--E8shf6I6HG-);
}
.freeBox__cJl75 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cJl75 > :global(.__wab_flex-container) > *,
.freeBox__cJl75 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cJl75 > :global(.__wab_flex-container) > picture > img,
.freeBox__cJl75
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__cRNeO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 16px) !important;
  margin-right: 0px;
  padding: 16px 0px 16px 16px;
}
.img {
  object-fit: contain;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  background: var(--token--E8shf6I6HG-);
  flex-shrink: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.breadcrumb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  padding-left: 0px;
  text-align: center;
}
.breadcrumbItem__cMjl4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__huRb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.freeBox__huRb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__huRb > :global(.__wab_flex-container) > *,
.freeBox__huRb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__huRb > :global(.__wab_flex-container) > picture > img,
.freeBox__huRb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___0Gnvt {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___1AwU0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  min-height: 0;
}
.svg__m84M5 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
  min-width: var(--token-ZKnSqz-AoN98);
  color: var(--token-9DYAKh_l4jQS);
  flex-shrink: 0;
}
.svg__j59Gz {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
  min-width: var(--token-ZKnSqz-AoN98);
  color: var(--token-9DYAKh_l4jQS);
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__j59Gz * {
  transform-style: preserve-3d;
}
.breadcrumbItem__jydZx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___167NA {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
}
.text__gL1OR {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mIBn4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  min-height: 0;
}
.svg__u6Spq {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
  min-width: var(--token-ZKnSqz-AoN98);
  color: var(--token-9DYAKh_l4jQS);
  flex-shrink: 0;
}
.svg__rdb8A {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
  min-width: var(--token-ZKnSqz-AoN98);
  color: var(--token-9DYAKh_l4jQS);
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  transform-style: preserve-3d;
  flex-shrink: 0;
}
.svg__rdb8A * {
  transform-style: preserve-3d;
}
.text__bamdb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___5Lmof {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 5em;
  top: 110%;
  background: var(--token-AVjrb1VpMneH);
  z-index: 100;
  border-radius: 24px;
  padding: 12px;
}
.freeBox___5Lmof > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___5Lmof > :global(.__wab_flex-container) > *,
.freeBox___5Lmof > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Lmof > :global(.__wab_flex-container) > picture > img,
.freeBox___5Lmof
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.link__pVbaB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mQmx {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 11em;
  top: 110%;
  background: var(--token-AVjrb1VpMneH);
  z-index: 100;
  border-radius: 24px;
  padding: 12px;
}
.freeBox__mQmx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__mQmx > :global(.__wab_flex-container) > *,
.freeBox__mQmx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mQmx > :global(.__wab_flex-container) > picture > img,
.freeBox__mQmx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.link__kvs4L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
