.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 80%;
}
.img > picture > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-R-I-KIV08TJv);
  text-align: center;
  font-size: var(--token-B10hUni6jzpI);
  min-width: 0;
}
