.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-PKw3mKbzBr62);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-Wg7N_OBtTq5_);
  font-family: var(--token-xJyIxpbdm7M0);
  font-size: var(--token-bJUUcSmKw7_T);
  line-height: var(--token-0Kpg2wzGk3wu);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-yByw3KgAJ_yl);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-yD_grHTyRaeK);
  outline-offset: 1px;
  outline-color: var(--token-PKw3mKbzBr62);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-CWEQ9o6-5E1N);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-gkTROJ4AvyUP);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-FS4Sl0Afd9m2);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-QCGKlPjgbpdL);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-rIT_BwviLG7W);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-jUfReUr_1n5q);
  font-size: var(--token-bJUUcSmKw7_T);
  column-gap: var(--token-yD_grHTyRaeK);
  row-gap: 0px;
  border-radius: var(--token-fncr5OCrhHFI);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-bJUUcSmKw7_T);
  line-height: var(--token-jUfReUr_1n5q);
  column-gap: var(--token-fncr5OCrhHFI);
  row-gap: 0px;
  border-radius: var(--token-fncr5OCrhHFI);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-L6tWcuP8NvrU);
  line-height: var(--token-NDqb1HqOfMvx);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-L6tWcuP8NvrU);
  line-height: var(--token-NDqb1HqOfMvx);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootcontour:global(.__wab_instance) {
  background: none;
  color: var(--token-9DYAKh_l4jQS);
  border: 1px solid var(--token-PKw3mKbzBr62);
}
.rootcontour[data-disabled]:global(.__wab_instance) {
  border-color: var(--token--E8shf6I6HG-);
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token--E8shf6I6HG-);
  border-radius: var(--token-yByw3KgAJ_yl);
}
.softBackgroundcolor_neutral {
  background: var(--token-6hB5A5o4ZOHY);
}
.softBackgroundcolor_muted {
  background: var(--token--cXs85aHctRK);
}
.softBackgroundcolor_success {
  background: var(--token-a0Faz7N5UiIP);
}
.softBackgroundcolor_warning {
  background: var(--token-sQcot488Wwqw);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-bZWb4CgJfFn-);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-yByw3KgAJ_yl);
  border: 0px solid var(--token-Zc2_5PhH85Bs);
}
.bordercolor_neutral {
  border-color: var(--token-Ihoar0fDftBy);
}
.bordercolor_muted {
  border-color: var(--token-N3krgHLSPc8P);
}
.bordercolor_success {
  border-color: var(--token-L273QLiOA3qR);
}
.bordercolor_warning {
  border-color: var(--token-5dfURyhrktE2);
}
.bordercolor_errorDestructive {
  border-color: var(--token-VUWMa7_1nqz7);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-yByw3KgAJ_yl);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-X4Y3pNLj_Ohf);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-XUiygXegxRVt);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-_TbO2JKv3dvu);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___5UFrc {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-yByw3KgAJ_yl) var(--token-GWDIjBMG5yGU);
}
.freeBox___5UFrc > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-yByw3KgAJ_yl));
  width: calc(100% + var(--token-yByw3KgAJ_yl));
}
.freeBox___5UFrc > :global(.__wab_flex-container) > *,
.freeBox___5UFrc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5UFrc > :global(.__wab_flex-container) > picture > img,
.freeBox___5UFrc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-yByw3KgAJ_yl);
}
.freeBoxsize_extraSmall___5UFrcfdxvt {
  padding: var(--token-fncr5OCrhHFI) var(--token-yByw3KgAJ_yl);
}
.freeBoxsize_small___5UFrc98KxI {
  padding: var(--token-yByw3KgAJ_yl) var(--token-Wg7N_OBtTq5_);
}
.freeBoxsize_large___5UFrcBc8JA {
  padding-top: var(--token-fncr5OCrhHFI);
  padding-bottom: var(--token-fncr5OCrhHFI);
}
.freeBoxsize_extraLarge___5UFrCqw8T {
  padding-left: var(--token-p66QJDZEUly2);
  padding-right: var(--token-p66QJDZEUly2);
}
.freeBoxroundedFull___5UFrcau5E2 {
  padding-right: var(--token-p66QJDZEUly2);
  padding-left: var(--token-p66QJDZEUly2);
}
.freeBox__zepuG {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__zepuGjCw1G {
  display: flex;
}
.slotTargetStart {
  color: var(--token-Ap852c3rWuaJ);
}
.slotTargetStartcolor_neutral {
  color: var(--token-HpWlpqqKmXik);
}
.slotTargetStartcolor_muted {
  color: var(--token-s8v21A2gYMBz);
}
.slotTargetStartcolor_success {
  color: var(--token-9R7mpC-1aEjK);
}
.slotTargetStartcolor_warning {
  color: var(--token-lFX0-T9USy4r);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-6QATtaXmQsh9);
}
.slotTargetStarttype_soft {
  color: var(--token-Ya2eS0vmQwFH);
}
.slotTargetStarttype_bordered {
  color: var(--token-Ya2eS0vmQwFH);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-bJUUcSmKw7_T);
}
.slotTargetStartsize_small {
  font-size: var(--token-bJUUcSmKw7_T);
}
.slotTargetStartsize_large {
  font-size: var(--token-L6tWcuP8NvrU);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-L6tWcuP8NvrU);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-eNE4OoZmiumU);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-eNE4OoZmiumU);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-D88wAKrv-xEO);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-D88wAKrv-xEO);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-w9XFFb0y0QOW);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-w9XFFb0y0QOW);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-VKAHc59Ba54l);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-VKAHc59Ba54l);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token--SFLsQ7Sb-gT);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token--SFLsQ7Sb-gT);
}
.svg__fNxkP {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-Ap852c3rWuaJ);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-HpWlpqqKmXik);
}
.slotTargetLabelcolor_muted {
  color: var(--token-s8v21A2gYMBz);
}
.slotTargetLabelcolor_success {
  color: var(--token-9R7mpC-1aEjK);
}
.slotTargetLabelcolor_warning {
  color: var(--token-lFX0-T9USy4r);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-6QATtaXmQsh9);
}
.slotTargetLabeltype_soft {
  color: var(--token-Ya2eS0vmQwFH);
}
.slotTargetLabeltype_bordered {
  color: var(--token-Ya2eS0vmQwFH);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-eNE4OoZmiumU);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-D88wAKrv-xEO);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-eNE4OoZmiumU);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-w9XFFb0y0QOW);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-D88wAKrv-xEO);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-VKAHc59Ba54l);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-w9XFFb0y0QOW);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token--SFLsQ7Sb-gT);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-VKAHc59Ba54l);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token--SFLsQ7Sb-gT);
}
.text__p2PgI {
  white-space: pre;
  color: var(--token-Bml44OgekI9b);
}
.freeBox__uzG6A {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__uzG6AaaJ1T {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-Ap852c3rWuaJ);
}
.slotTargetEndcolor_neutral {
  color: var(--token-HpWlpqqKmXik);
}
.slotTargetEndcolor_muted {
  color: var(--token-s8v21A2gYMBz);
}
.slotTargetEndcolor_success {
  color: var(--token-9R7mpC-1aEjK);
}
.slotTargetEndcolor_warning {
  color: var(--token-lFX0-T9USy4r);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-6QATtaXmQsh9);
}
.slotTargetEndtype_soft {
  color: var(--token-Ya2eS0vmQwFH);
}
.slotTargetEndtype_bordered {
  color: var(--token-Ya2eS0vmQwFH);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-bJUUcSmKw7_T);
}
.slotTargetEndsize_small {
  font-size: var(--token-bJUUcSmKw7_T);
}
.slotTargetEndsize_large {
  font-size: var(--token-L6tWcuP8NvrU);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-L6tWcuP8NvrU);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-eNE4OoZmiumU);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-eNE4OoZmiumU);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-D88wAKrv-xEO);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-D88wAKrv-xEO);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-w9XFFb0y0QOW);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-w9XFFb0y0QOW);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-VKAHc59Ba54l);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-VKAHc59Ba54l);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token--SFLsQ7Sb-gT);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token--SFLsQ7Sb-gT);
}
.svg___7Jer {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
