.consoleProvider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.consoleBackground:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.formCard:global(.__wab_instance) {
  max-width: 100%;
}
.formTitle:global(.__wab_instance) {
  position: relative;
}
.formInputGroup:global(.__wab_instance) {
  max-width: 100%;
}
.email:global(.__wab_instance) {
  max-width: 100%;
}
.password:global(.__wab_instance) {
  max-width: 100%;
}
.forgotPassword:global(.__wab_instance) {
  position: relative;
}
.login:global(.__wab_instance):global(.__wab_instance) {
  height: 48px;
  position: relative;
  align-self: stretch;
}
.svg__oizzg {
  position: relative;
  height: 1em;
}
.text__rLoGi {
  white-space: pre;
  color: var(--token-Bml44OgekI9b);
}
.svg___5Ld9W {
  position: relative;
  height: 1em;
}
.login2:global(.__wab_instance):global(.__wab_instance) {
  height: 48px;
  position: relative;
  align-self: stretch;
}
.svg__xkshP {
  position: relative;
  height: 1em;
}
.text__fkIl4 {
  white-space: pre;
  color: var(--token-Bml44OgekI9b);
  padding-bottom: 0px;
}
.svg__ubBg {
  position: relative;
  height: 1em;
}
.logIn {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.logIn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.logIn > :global(.__wab_flex-container) > *,
.logIn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logIn > :global(.__wab_flex-container) > picture > img,
.logIn > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
@media (max-width: 414px) {
  .logIn {
    display: none;
  }
}
.noAccount:global(.__wab_instance) {
  position: relative;
}
.signUpLink:global(.__wab_instance) {
  position: relative;
}
.consoleLogo__u4836:global(.__wab_instance) {
  position: relative;
  align-self: auto;
}
