.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-74Qsc5U_cwQo);
  font-family: var(--token-xJyIxpbdm7M0);
  font-size: var(--token-bJUUcSmKw7_T);
  line-height: var(--token-jUfReUr_1n5q);
  width: 100%;
  min-width: 0;
  column-gap: var(--token-Wg7N_OBtTq5_);
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__azTyR {
  display: flex;
  width: 20px;
  height: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  max-height: 20px;
  max-width: 20px;
  border-radius: 24px;
  border: 1px solid var(--token-9DYAKh_l4jQS);
}
.ariaRadio[data-selected] .freeBox__azTyR {
  background: var(--token-PKw3mKbzBr62);
  border-color: var(--token-PKw3mKbzBr62);
}
.ariaRadio[data-focus-visible] .freeBox__azTyR {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-PKw3mKbzBr62);
  outline-width: 2px;
}
.freeBox__lseNx {
  position: relative;
  background: var(--token-Bml44OgekI9b);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__lseNx {
  width: var(--token-yByw3KgAJ_yl);
  height: var(--token-yByw3KgAJ_yl);
  flex-shrink: 0;
  display: block;
}
.freeBox__hv5Ks {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hv5Ks > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-fncr5OCrhHFI));
  width: calc(100% + var(--token-fncr5OCrhHFI));
}
.freeBox__hv5Ks > :global(.__wab_flex-container) > *,
.freeBox__hv5Ks > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hv5Ks > :global(.__wab_flex-container) > picture > img,
.freeBox__hv5Ks
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fncr5OCrhHFI);
}
.slotTargetLabel {
  white-space: pre;
  user-select: none;
}
.slotTargetLabel > :global(.__wab_text),
.slotTargetLabel > :global(.__wab_expr_html_text),
.slotTargetLabel > :global(.__wab_slot-string-wrapper),
.slotTargetLabel > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetLabel > :global(.__wab_slot) > :global(.__wab_expr_html_text),
.slotTargetLabel > :global(.__wab_slot) > :global(.__wab_slot-string-wrapper),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-overflow: ellipsis;
}
.slotTargetLabel > *,
.slotTargetLabel > :global(.__wab_slot) > *,
.slotTargetLabel > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetLabel > picture > img,
.slotTargetLabel > :global(.__wab_slot) > picture > img,
.slotTargetLabel > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.slotTargetLabel
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  overflow: hidden;
}
