.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  justify-self: flex-start;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 414px) {
  .root {
    width: 100%;
    justify-self: flex-start;
    height: 100%;
    background: none;
    min-width: 0;
    min-height: 0;
  }
}
.rootisOpen {
  width: 100%;
  justify-self: flex-start;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 414px) {
  .rootisOpen {
    justify-self: flex-start;
    width: 100%;
    flex-shrink: 0;
    background: none;
    min-width: 0;
  }
}
.roottableauDeBord2 {
  background: none;
}
.rootequipes {
  background: none;
}
.freeBox___4XPnC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox___4XPnC {
    transform: translateX(-88%) translateY(0px) translateZ(0px);
    width: auto;
    display: flex;
    flex-direction: row;
    left: 0px;
    top: 0px;
    z-index: 1;
    position: sticky;
    align-self: flex-start;
  }
}
@media (max-width: 414px) {
  .freeBox___4XPnC {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 1;
    align-self: flex-start;
    width: auto;
    flex-shrink: 0;
    flex-grow: 0;
    transform: translateX(-84%) translateY(0px) translateZ(0px);
    min-height: 0;
    padding: 0px;
  }
}
.freeBoxisOpen___4XPnCvo8B3 {
  display: flex;
  flex-direction: row;
  transform: none;
  width: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  min-height: 0;
}
@media (max-width: 1024px) {
  .freeBoxisOpen___4XPnCvo8B3 {
    left: 0px;
    top: 0px;
    position: sticky;
  }
}
@media (max-width: 414px) {
  .freeBoxisOpen___4XPnCvo8B3 {
    left: 0px;
    top: 0px;
    position: sticky;
    transform: none;
  }
}
.freeBoxtableauDeBord2___4XPnCBlPhl {
  width: auto;
}
.freeBox__idNp {
  display: flex;
  flex-direction: column;
  width: auto;
  background: var(--token-jgohepLVeKvh);
  height: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  flex-shrink: 1;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 16px;
  border-right: 1px solid var(--token-Ap852c3rWuaJ);
}
.freeBox__idNp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__idNp > :global(.__wab_flex-container) > *,
.freeBox__idNp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__idNp > :global(.__wab_flex-container) > picture > img,
.freeBox__idNp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 414px) {
  .freeBox__idNp {
    transform: none;
  }
}
.freeBox__eryGf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__eryGf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eryGf > :global(.__wab_flex-container) > *,
.freeBox__eryGf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eryGf > :global(.__wab_flex-container) > picture > img,
.freeBox__eryGf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.recherche {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.recherche > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.recherche > :global(.__wab_flex-container) > *,
.recherche > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.recherche > :global(.__wab_flex-container) > picture > img,
.recherche
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.textField:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___7W2Hx {
  color: #535353;
  display: none;
}
.svg__zpqF9 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
.svg__fd1Xj {
  position: relative;
  height: 1em;
  display: none;
}
.divider {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token--E8shf6I6HG-);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.general {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.general > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.general > :global(.__wab_flex-container) > *,
.general > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.general > :global(.__wab_flex-container) > picture > img,
.general
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__z3XLo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.tableauDeBord:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6URSb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg___6URSb {
    min-width: var(--token-ZKnSqz-AoN98);
  }
}
.freeBox___01Fke {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.equipes2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__j3Qoq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__j3Qoq {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.freeBox__dwOfF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.plan:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7X8Xe {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg___7X8Xe {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.parametre:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wsiQy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__wsiQy {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.divider2 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token--E8shf6I6HG-);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.projet {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.projet > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.projet > :global(.__wab_flex-container) > *,
.projet > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.projet > :global(.__wab_flex-container) > picture > img,
.projet
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__aGplf {
  font-family: var(--token-R-I-KIV08TJv);
  font-size: var(--token-bJUUcSmKw7_T);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  min-width: 0;
}
.parametre3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__aeTd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__aeTd {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.parametre6:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__pGfe2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__pGfe2 {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.parametre4:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zzrJu {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__zzrJu {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.parametre5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__aupw {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__aupw {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.divider3 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token--E8shf6I6HG-);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.profil {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.profil > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.profil > :global(.__wab_flex-container) > *,
.profil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.profil > :global(.__wab_flex-container) > picture > img,
.profil
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__n30Jz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__n30Jz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__n30Jz > :global(.__wab_flex-container) > *,
.freeBox__n30Jz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n30Jz > :global(.__wab_flex-container) > picture > img,
.freeBox__n30Jz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.parametre7:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zftOu {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__zftOu {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.parametre9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__m2Ofs {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9DYAKh_l4jQS);
  width: var(--token-ZKnSqz-AoN98);
  height: 1em;
}
@media (max-width: 414px) {
  .svg__m2Ofs {
    width: var(--token-ZKnSqz-AoN98);
    min-width: var(--token-ZKnSqz-AoN98);
    max-width: 100%;
    color: var(--token-9DYAKh_l4jQS);
  }
}
.freeBox__vJyR1 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  background: var(--token-AVjrb1VpMneH);
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 8px;
  border-top: 1px solid var(--token-Ap852c3rWuaJ);
  border-right: 1px solid var(--token-Ap852c3rWuaJ);
  border-bottom: 1px solid var(--token-Ap852c3rWuaJ);
}
@media (max-width: 1024px) {
  .freeBox__vJyR1 {
    align-self: auto;
    display: flex;
  }
}
@media (max-width: 414px) {
  .freeBox__vJyR1 {
    align-self: flex-start;
    display: flex;
  }
}
.freeBoxisOpen__vJyR1Vo8B3 {
  display: flex;
}
.svg__e0FkA {
  object-fit: cover;
  max-width: 100%;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
  height: 1em;
  flex-shrink: 0;
}
.svg__e0FkA * {
  transform-style: preserve-3d;
}
@media (max-width: 1024px) {
  .svg__e0FkA {
    transform: none;
  }
}
@media (max-width: 414px) {
  .svg__e0FkA {
    transform: none;
  }
}
.svgisOpen__e0FkAvo8B3 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}
.svgisOpen__e0FkAvo8B3 * {
  transform-style: preserve-3d;
}
@media (max-width: 414px) {
  .svgisOpen__e0FkAvo8B3 {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    transform-style: preserve-3d;
  }
}
@media (max-width: 414px) {
  .svgisOpen__e0FkAvo8B3 * {
    transform-style: preserve-3d;
  }
}
