.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-zCDHJij4mKp8);
  color: var(--token-74Qsc5U_cwQo);
  font-family: var(--token-xJyIxpbdm7M0);
  font-size: var(--token-7xKkXWUJlfs8);
  line-height: var(--token-0Kpg2wzGk3wu);
  width: 100%;
  position: relative;
  outline-style: none;
  background: var(--token-Bml44OgekI9b);
  min-width: 0;
  border-radius: var(--token-yByw3KgAJ_yl);
  padding: var(--token-yByw3KgAJ_yl) var(--token-GWDIjBMG5yGU);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-yD_grHTyRaeK);
  outline-offset: 1px;
  outline-color: var(--token-PKw3mKbzBr62);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token--cXs85aHctRK);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-k0aJZ2DmAK-b);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token--cXs85aHctRK);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-nbISxqLGpGTD);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-nbISxqLGpGTD);
}
.ariaInputcontour:global(.__wab_instance) {
  border: 1px solid var(--token-PKw3mKbzBr62);
}
