[Unit]
Description=France Nuage Agent
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/france-nuage-agent/dist/france-nuage-agent.js
WorkingDirectory=/opt/france-nuage-agent/dist
Restart=always
User=france-nuage-agent
Group=france-nuage-agent
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
