Package: france-nuage-agent
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: python3, python3-psutil, python3-requests
Maintainer: Wessim Harmel wessim.harmel1@gmail.com
Description: France Nuage Agent
 This package contains the France Nuage Agent script.
