{{- if not .Values.secrets.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "plateforme.secretName" . }}
  labels:
    {{- include "plateforme.labels" . | nindent 4 }}
type: Opaque
stringData:
  postgres-password: {{ required "secrets.postgresPassword est requis pour lacces a la bd" .Values.secrets.postgresPassword | quote }}

  database-url: {{ include "plateforme.postgresUrl" . | quote }}

  spicedb-preshared-key: {{ required "secrets.spicedbPresharedKey est requis pour spicedb" .Values.secrets.spicedbPresharedKey | quote }}

  {{- if .Values.keycloak.enabled }}
  keycloak-admin-password: {{ required "secrets.keycloakAdminPassword est requis si keycloak est active" .Values.secrets.keycloakAdminPassword | quote }}
  {{- end }}

  {{- if or .Values.spicedbDb.enabled .Values.spicedb.useSharedDatabase }}
  spicedb-db-password: {{ required "secrets.spicedbPassword est requis pour spicedb" .Values.secrets.spicedbPassword | quote }}
  {{- end }}

  {{- if or .Values.keycloakDb.enabled .Values.keycloak.enabled }}
  keycloak-db-password: {{ .Values.secrets.keycloakDbPassword | default .Values.secrets.postgresPassword | quote }}
  {{- end }}

  {{- if .Values.controlplane.enabled }}
  root-service-account-key: {{ required "secrets.rootServiceAccountKey est requis pour controlplane" .Values.controlplane.config.rootServiceAccountKey | quote }}

  {{- if .Values.secrets.hoopApiKey }}
  hoop-api-key: {{ .Values.secrets.hoopApiKey | quote }}
  {{- end }}
  {{- end }}
{{- end }}