{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "plateforme.fullname" . }}-postgres
  labels:
    {{- include "plateforme.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgresql
      protocol: TCP
      name: postgresql
  selector:
    {{- include "plateforme.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: postgres
{{- end }}
