.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  row-gap: var(--token-fncr5OCrhHFI);
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__mtEqN {
  display: flex;
  flex-direction: column;
}
.freeBox___3RjsA {
  flex-direction: row;
  position: absolute;
  height: var(--token-nbISxqLGpGTD);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-yByw3KgAJ_yl) var(--token-GWDIjBMG5yGU);
}
.freeBoxiconStart___3RjsAh2TYc {
  display: flex;
}
.slotTargetStart {
  color: var(--token-9DYAKh_l4jQS);
}
.svg__eNAt {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__ydhA8 {
  height: var(--token-nbISxqLGpGTD);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-yByw3KgAJ_yl) var(--token-GWDIjBMG5yGU);
}
.freeBoxiconEnd__ydhA8UUhFc {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-9DYAKh_l4jQS);
}
.svg__e41O {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
